@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

body {
  padding: 40px 250px;
  background: rgb(32, 32, 32);
  overflow-x: hidden;
  margin: auto;
  color: rgb(33, 33, 33);
  max-width: 1900px;
}
.header{
    padding-bottom: 50px;
}
.ttop_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  color: white;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.dropdown-menu a {
  color: #fff;
  text-decoration: none;
  display: block;
  font-family: "Bellota Text";
}

.dropdown-menu a:hover {
  text-decoration: underline;
}

.main_m {
  display: flex;
  gap: 50px;
  font-size: 19px;
}

#select {
  border: solid rgba(255, 255, 255, 0.271) 1px;
  padding: 10px;
}

.main_m li a {
  color: white;
  font-family: "Bellota Text";
}

.send_message button {
  font-family: "Bellota Text";
}


h1 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  color: white;
  font-size: 40px;
  text-align: center;
}


.logo img{
    width: 120px;
    height: 120px;
    margin: 0px;
    padding: 0px;
}

.send_message button {
  border: solid rgba(255, 255, 255, 0.356) 1px;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.162);
}

h2 {
  font-family: "Bellota Text";
  color: white;
  text-align: center;
  font-size: 30px;
}

.dropdown-menu {
display: none;
position: absolute;
background-color: #333;
color: #fff;
padding: 10px;
}

.dropdown-menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-family: "Bellota Text";
}

.dropdown-menu a:hover {
text-decoration: underline;
}


.main_1 p {
    font-family: "Bellota Text";
    color: white;
    padding-top:  30px;
    font-size: 20px;
    text-align: justify;
}

.hr_m1_m2 {
  width: 90%;
  height: 1px;
  background: white;
  margin: 50px;
}

h3 {
  font-family: "Bellota Text";
  color: white;
  padding-top:  30px;
  font-size: 20px;
  text-align: justify;

}

.footeer_hr {
  width: 100%;
  height: 1px;
  margin: 40px 0px;
  background: white;
  position: absolute;
  left: -10px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  padding-top: 80px;
}

.footer pre {
  font-family: "Oswald", sans-serif;
  color: white;
}

.footer img {
  width: 100px;
  height: 100px;
}

@media screen and (width < 1600px) {
  body {
    padding: 40px 150px;
    max-width: 1600px;
    overflow-x: hidden;
  }
}

@media screen and (width < 1300px) {
  body {
    padding: 40px 50px;
    max-width: 1300px;
  }
  .footer {
    gap: 70px;
  }
}

@media screen and (width < 1100px) {
  body {
    padding: 20px 50px;
    max-width: 1300px;
  }
  .main_m {
    display: flex;
    gap: 40px;
    font-size: 16px;
  }
}

@media screen and (width > 949px) {
  .mobile_header{
    display: none;
  }
}

@media screen and (width < 950px) {
  .ttop_header {
    display: none;
  }


  .hr_m1_m2 {
    width: 90%;
  }


  .mobile-menu {
    display: none; 
    width: 55vw;
    background: #333;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    z-index: 999;
}

.mobile-menu-icon p{
    cursor: pointer;
    width: 20px;
    height: 3px;
    color: rgba(255, 255, 255, 0.772);
    font-size: 60px;
    margin: 0px;
    padding: 0px;

}

.mobile-menu-icon {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.mobile-menu-icon img{
width: 110px;
}

.mobile_header li, a{
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  padding: 5px 30px;
}

.mobile_header button{
  padding: 10px 10vw;
  border: solid rgba(255, 255, 255, 0.707) 1px;
}

.main_header {
  padding-top: 10px;
  display: block;
  text-align: center;
  max-width: 900px;
}


.footer {
  gap: 50px;
}

.footer {
  gap: 20px;
}
}

@media screen and (width < 800px) {
.mobile_header li, a{
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  padding: 5px 30px;
}

.hr_m1_m2 {
  width: 85%;
}
}

@media screen and (width < 700px) {
  .hr_m1_m2 {
    width: 80%;
  }

  .footer {
    display: none;
  }
  .m_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
}


@media screen and (width > 700px) {
  .m_footer {
    display: none;
  }

}

@media screen and (width < 550px) {
  .hr_m1_m2 {
    width: 75%;
  }

  .mobile-menu-icon img {
    width: 80px;
  }
  .dropdown-menu_m a{
    font-size: 18px;
  }

  .mobile-menu {
    width: 70vw;
}

.mobile_header li, a{
  padding: 5px 15px;
}

.m_footer {
  gap: 30px;
  font-size: 10px;
}
}


@media screen and (width < 550px) {
  .m_but p{
    font-size: 40px;
  }

  .mobile_header img {
    width: 60px;
  }

  h1 {
    font-size: 1.3em;
  }

  h2 {
    font-size: 1.3em;
  }

  h3 {
    font-size: 1em;
  }

  .main_1 p {
    font-size: 1em;
  }

  .main_header p {
    display: none;
  }
  
  .m_footer pre {
    font-size: 1.3em;
  }
  .m_footer {
    gap: 20px;
  }
}

@media screen and (width < 460px) {
  .hr_m1_m2 {
    width: 68%;
  }

    .mobile-menu {
      width: 85vw;
  } 
  .m_footer {
    gap: 5px;
  }
  body {
    padding: 0px 15px;
    
  }

  h1 {
    font-size: 0.9em;
  }

  h2 {
    font-size: 0.9em;

  }

  h3 {
    font-size: 0.8em;

  }

  .main_1 p {
    font-size: 0.8em;
  }

}



@media screen and (width < 420px) {
.m_footer {
  gap: 0px;
}
}

.m_footer{
  padding-top: 80px;
}


.m_footer pre {
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 1.1em;
}

.m_footer img {
  width: 100px;
  height: 100px;
}