@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

body {
  padding: 40px 250px;
  background: rgb(32, 32, 32);
  overflow-x: hidden;
  margin: auto;
  color: rgb(33, 33, 33);
  max-width: 1900px;
}
.header {
  padding-bottom: 250px;
}
.ttop_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  color: white;
}

.image-container {
  width: 100%;
  position: absolute;
  padding: 0px;
  z-index: -1;
  filter: opacity(25%);
  display: flex;
  top: 0px;
  left: 0px;
}

.image-container img {
  width: 100%; /* Задаем ширину изображения 100% от ширины родительского контейнера */
  height: 600px; /* Позволяет изображению сохранить пропорции */
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.dropdown-menu a {
  color: #fff;
  text-decoration: none;
  display: block;
  font-family: "Bellota Text";
}

.dropdown-menu a:hover {
  text-decoration: underline;
}

.main_m {
  display: flex;
  gap: 50px;
  font-size: 19px;
}

#select {
  border: solid rgba(255, 255, 255, 0.271) 1px;
  padding: 10px;
}

.main_m li a {
  color: white;
  font-family: "Bellota Text";
}

.send_message button {
  font-family: "Bellota Text";
}

/*  main  */

.main_header {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1900px;
  margin: 0px auto;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  color: white;
  font-size: 40px;
}

.main_header p {
  font-family: "Bellota Text";
  color: white;
  text-align: right;
  font-size: 20px;
}

.logo img {
  width: 120px;
  height: 120px;
  margin: 0px;
  padding: 0px;
}

.send_message button {
  border: solid rgba(255, 255, 255, 0.356) 1px;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.162);
}

h2 {
  font-family: "Bellota Text";
  color: white;
  padding-bottom: 40px;
  text-align: center;
  font-size: 30px;
}

.main_1 {
  text-align: center;
  margin: 0px auto;
}

.grid_1,
.grid_2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%;
  max-width: 1000px;
  margin: 0px auto;
}

.grid_2 {
  padding-top: 20px;
}

.okno_g_1 {
  width: auto;
  height: auto;
  max-width: 350px;
  border-radius: 10% 10% 0 0;
  background: rgb(37, 37, 37);
  border: solid rgba(255, 255, 255, 0.425) 1px;
}

.img_g_1 img {
  width: 100%;
  height: auto;
  max-height: 220px;
  border-radius: 10% 10% 0 0;
  padding-bottom: 20px;
}

.name_g_1,
.name_g_2 {
  font-family: "Bellota Text";
  color: white;
  font-size: 23px;
  text-align: center;
  padding: 0px 25px;
  padding-bottom: 10px;
}

.disc_g_1,
.disc_g_2 {
  font-family: "Bellota Text";
  color: white;
  font-size: 17px;
  text-align: center;
  padding: 0px 15px 20px 15px;
}

.but_vis_g_1,
.but_vis_g_2 {
  font-family: "Bellota Text";
  color: white;
  font-size: 20px;
  border: solid rgba(255, 255, 255, 0.742) 0.7px;
  padding: 15px 20%;
}

.disc_g_1 {
  padding-bottom: 110px;
}

.disc_g_1 {
  padding-bottom: 84px;
}

.button_g_1,
.button_g_2 {
  margin-bottom: 20px;
  align-content: center;
}

#but1-p {
  margin-top: 90px;
}

#but2-p {
  margin-top: 64px;
}

#but3-p {
  margin-top: 92px;
}

#but4-p {
  margin-top: 100px;
}

.okno_g_2 {
  width: auto;
  height: auto;
  max-width: 350px;
  border-radius: 0 0 10% 10%;
  background: rgb(37, 37, 37);
  border: solid rgba(255, 255, 255, 0.425) 1px;
}

.img_g_2 img {
  width: 100%;
  height: auto;
  max-height: 200px;
  border-radius: 0 0 15% 15%;
  padding-bottom: 20px;
}

.name_g_1 {
  font-family: "Bellota Text";
  color: white;
  font-size: 23px;
  text-align: center;
  padding: 0px 25px;
  padding-bottom: 10px;
}

.main_2 {
  padding-top: 100px;
}

.main_2_sec {
  display: flex;
  justify-content: space-between;
}

.main_2_sec img {
  border: solid rgba(255, 255, 255, 0.381) 3px;
  width: 430px;
}

.name_s2 {
  font-family: "Bellota Text";
  color: white;
  font-size: 22px;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.desc_s2 {
  font-family: "Bellota Text";
  color: white;
  padding-left: 45px;
  font-size: 18px;
  padding-bottom: 90px;
}

.l_text_name_m3,
.r_text_name_m3 {
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 28px;
}

.r_text_name_m3 {
  text-align: right;
}

.l_text_desc_m3,
.r_text_desc_m3 {
  font-family: "Bellota Text";
  color: white;
  font-size: 18px;
  max-width: 500px;
}

.r_text_desc_m3 {
  text-align: right;
  margin-left: auto;
}

.main_3 {
  padding-top: 100px;
}

.img_main_3 img {
  position: absolute;
  z-index: -1;
  filter: opacity(10%);
  left: 0%;
  max-height: 600px;
  width: 100%;
}

.img_main_3 {
  padding-bottom: 10%;
}

.main_4 {
  padding-top: 100px;
}

.statistik {
  display: flex;
  justify-content: space-between;
}

.viz_m_4 {
  width: 300px;
  height: 300px;
  background: rgb(38, 38, 38);
  border-radius: 50%;
  border: solid rgba(255, 255, 255, 0.49) 0.8px;
}

.num_stat {
  color: white;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 165px;
  font-family: "Oswald", sans-serif;
  font-size: 55px;
}

.name_stat {
  color: rgba(255, 255, 255, 0.666);
  font-family: "Bellota Text";
  font-size: 18px;
  max-width: 200px;
  margin: 0px auto;
  text-align: center;
  justify-content: center;
}

.main_5 {
  padding-top: 100px;
}

.phone_m_5 {
  width: 100vw;
  position: absolute;
  left: 0px;
  height: 200px;
  background: rgb(54, 54, 54);
  z-index: -1;
}

hr {
  z-index: -1;
}

slider-container {
  overflow: hidden;
  width: 100%;
  z-index: -1;
}

.slider {
  display: flex;
  margin-right: 100px;
  animation: slideAnimation 25s linear infinite;
}

@keyframes slideAnimation {
  0% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(-280%); /* С учетом 4 видимых слайдов */
  }
}

img {
  width: 200px;
}

.hr_6 {
  width: 1920px;
  position: absolute;
  left: 0px;
  height: 1px;
  background: rgba(255, 255, 255, 0.331);
}

.m_6 p {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  color: white;
  font-size: 30px;
}

.m_6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px;
}

.m_6 button {
  font-family: "Bellota Text";
  color: white;
  font-size: 20px;
  padding: 10px 50px;
  margin-top: 20px;
  border: solid rgba(255, 255, 255, 0.6) 1px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  padding-top: 50px;
}

.footer pre {
  font-family: "Oswald", sans-serif;
  color: white;
}

.footer img {
  width: 100px;
  height: 100px;
}

.m_footer pre {
  font-family: "Oswald", sans-serif;
  color: white;
}

.m_footer img {
  width: 100px;
  height: 100px;
}

@media screen and (width < 1600px) {
  body {
    padding: 40px 150px;
    max-width: 1600px;
    overflow-x: hidden;
  }
}

@media screen and (width < 1300px) {
  body {
    padding: 40px 50px;
    max-width: 1300px;
  }
  .footer {
    gap: 70px;
  }
}

@media screen and (width < 1100px) {
  body {
    padding: 20px 50px;
    max-width: 1300px;
  }
  .main_m {
    display: flex;
    gap: 40px;
    font-size: 16px;
  }
  .desc_s2 {
    font-size: 16px;
    padding-bottom: 30px;
  }
  .main_2_sec img {
    width: 430px;
  }
}

@media screen and (width > 949px) {
  .mobile_header {
    display: none;
  }
}

@media screen and (width < 950px) {
  .ttop_header {
    display: none;
  }

  .mobile-menu {
    display: none;
    width: 55vw;
    background: #333;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    z-index: 999;
  }

  #but1-p {
    margin-top: 10px;
  }
  #but2-p {
    margin-top: 10px;
  }
  #but3-p {
    margin-top: 10px;
  }
  #but4-p {
    margin-top: 10px;
  }

  .mobile-menu-icon p {
    cursor: pointer;
    width: 20px;
    height: 3px;
    color: rgba(255, 255, 255, 0.772);
    font-size: 60px;
    margin: 0px;
    padding: 0px;
  }

  .mobile-menu-icon {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
  }

  .mobile-menu-icon img {
    width: 110px;
  }

  .mobile_header li,
  a {
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    padding: 5px 30px;
  }

  .mobile_header button {
    padding: 10px 10vw;
    border: solid rgba(255, 255, 255, 0.707) 1px;
  }

  .main_header {
    padding-top: 10px;
    display: block;
    text-align: center;
    max-width: 900px;
  }

  h1 {
    padding-bottom: 100px;
  }

  .grid_1,
  .grid_2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5%;
    max-width: 850px;
  }

  .okno_g_1 {
    width: 90vw;
    height: auto;
    max-width: 850px;
    border-radius: 15px 0 0 15px;
    background: rgb(37, 37, 37);
    border: solid rgba(255, 255, 255, 0.425) 1px;
  }

  .okno_g_1 img {
    display: none;
  }

  .disc_g_1 {
    padding-bottom: 20px;
  }
  .disc_g_2 {
    padding-bottom: 0px;
  }

  .okno_g_2 {
    width: 90vw;
    height: auto;
    max-width: 850px;
    border-radius: 15px 0 0 15px;
    background: rgb(37, 37, 37);
    border: solid rgba(255, 255, 255, 0.425) 1px;
  }

  .okno_g_2 img {
    display: none;
  }

  .grid_2 {
    padding-top: 100px;
  }

  .but_vis_g_2 {
    margin-top: 15px;
  }

  .footer {
    gap: 50px;
  }

  .footer {
    gap: 20px;
  }
}

@media screen and (width < 800px) {
  .image-container img {
    height: 500px; /* Позволяет изображению сохранить пропорции */
  }

  .header {
    padding-bottom: 70px;
  }

  .main_2_sec img {
    display: none;
  }

  .viz_m_4 {
    width: 200px;
    height: 200px;
  }

  .num_stat {
    height: 110px;
    font-size: 45px;
  }

  .name_stat {
    font-size: 14px;
    max-width: 200px;
  }

  h1 {
    padding-bottom: 80px;
  }

  .mobile_header li,
  a {
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    padding: 5px 30px;
  }
}

@media screen and (width < 700px) {
  .footer {
    display: none;
  }
  .m_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  h1 {
    padding-bottom: 40px;
  }
  .main_header {
    padding-top: 0px;
  }
  .image-container img {
    height: 450px; /* Позволяет изображению сохранить пропорции */
  }
  .statistik {
    display: grid;
    justify-content: center;
    gap: 30px;
  }
  .viz_m_4 {
    width: 300px;
    height: 200px;
  }
  .name_stat {
    font-size: 14px;
  }
  .num_stat {
    height: 110px;
    font-size: 45px;
  }
  h2 {
    padding-top: 40px;
  }
  .okno_g_1,
  .okno_g_2 {
    width: 85vw;
  }
  .grid_2 {
    margin-top: 50px;
  }
}

@media screen and (width > 700px) {
  .m_footer {
    display: none;
  }
}

@media screen and (width < 550px) {
  .m_6 p {
    font-size: 20px;
  }
  h1 {
    font-size: 25px;
  }

  .main_header p {
    font-size: 15px;
  }

  .image-container img {
    height: 350px; /* Позволяет изображению сохранить пропорции */
  }
  .mobile-menu-icon img {
    width: 80px;
  }

  h2 {
    font-size: 20px;
  }
  .okno_g_1,
  .okno_g_2 {
    width: 80vw;
  }

  .name_g_1,
  .name_g_2 {
    font-size: 18px;
    padding-top: 10px;
  }

  .disc_g_1,
  .disc_g_2 {
    font-size: 15px;
  }

  .main_3 {
    padding-top: 20px;
  }

  .r_text_desc_m3,
  .l_text_desc_m3 {
    font-size: 15px;
    padding-bottom: 10px;
  }

  .img_main_3 {
    display: none;
  }

  .main_4 {
    padding-top: 20px;
  }
  .slider {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 50%;
    max-width: 70%;
    justify-content: center;
    margin: 0px auto;
  }

  #delite_phone {
    display: none;
  }

  .slider img {
    width: 120px;
  }

  @keyframes slideAnimation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(0); /* С учетом 4 видимых слайдов */
    }
  }

  .dropdown-menu_m a {
    font-size: 18px;
  }

  .mobile-menu {
    width: 70vw;
  }

  .mobile_header li,
  a {
    padding: 5px 15px;
  }

  .m_footer {
    gap: 30px;
    font-size: 10px;
  }

  .m_6 img {
    display: none;
  }

  .m_6 {
    text-align: center;
  }

  .phone_m_5 {
    width: 100vw;
    height: 960px;
  }
}

@media screen and (width < 550px) {
  .m_but p {
    font-size: 40px;
  }

  .mobile_header img {
    width: 60px;
  }

  h1 {
    font-size: 1.5em;
  }

  .main_header p {
    display: none;
  }

  .image-container img {
    height: 250px; /* Позволяет изображению сохранить пропорции */
  }

  .header {
    padding-bottom: 40px;
  }

  h2 {
    padding: 10px 0px;
    font-size: 1em;
  }

  .name_g_1,
  .name_g_2 {
    font-size: 0.8em;
  }

  .disc_g_1,
  .disc_g_2 {
    font-size: 0.7em;
  }
  .but_vis_g_1,
  .but_vis_g_2 {
    font-size: 0.8em;
    padding: 2px 50px;
  }

  .okno_g_1,
  .okno_g_2 {
    width: 100%;
  }

  .grid_2 {
    padding-top: 20px;
  }

  .name_s2 {
    font-size: 0.8em;
    text-align: center;
  }

  .desc_s2 {
    font-size: 0.7em;
    padding: 0px;
    text-align: justify;
  }

  .l_text_name_m3,
  .r_text_name_m3 {
    font-size: 1.2em;
  }
  .l_text_desc_m3,
  .r_text_desc_m3 {
    font-size: 0.9em;
    width: 90%;
    text-align: justify;
  }
  .m_footer pre {
    font-size: 1.3em;
  }
  .m_footer {
    gap: 20px;
  }
  #del_t {
    display: none;
  }
}

@media screen and (width < 460px) {
  .grid_2 {
    padding-top: 50px;
  }

  .slider {
    gap: 0px 15px;
  }

  .phone_m_5 {
    width: 100vw;
    height: 840px;
  }
}

@media screen and (width < 460px) {
  .grid_2 {
    padding-top: 80px;
  }
  .mobile-menu {
    width: 85vw;
  }
  .m_footer {
    gap: 5px;
  }

  .m_footer pre {
    font-size: 1.1em;
  }

  body {
    padding: 0px 15px;
  }

  .image-container {
    top: 55px;
    left: 0px;
  }

  .image-container img {
    height: 130px; /* Позволяет изображению сохранить пропорции */
  }
}

@media screen and (width < 420px) {
  .m_footer {
    gap: 0px;
  }

  .num_stat {
    height: 110px;
    font-size: 45px;
  }

  .name_stat {
    font-size: 11px;
    max-width: 200px;
  }

  .viz_m_4 {
    width: 180px;
    height: 180px;
  }

  .statistik {
    padding-top: 60px;
  }
}
