@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

body {
  padding: 40px 400px;
  background: rgb(32, 32, 32);
  overflow-x: hidden;
  margin: auto;
  color: rgb(33, 33, 33);
  max-width: 1900px;
}
.header{
    padding-bottom: 250px;
}
.ttop_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  color: white;
}

.image-container {
  width: 100%;
  position: absolute;
  padding: 0px;
  z-index: -1;
  filter: opacity(25%);
  display: flex;
  top: 0px;
  left: 0px;
}

.image-container img {
  width: 100%; /* Задаем ширину изображения 100% от ширины родительского контейнера */
  height: 600px; /* Позволяет изображению сохранить пропорции */
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.dropdown-menu a {
  color: #fff;
  text-decoration: none;
  display: block;
  font-family: "Bellota Text";
}

.dropdown-menu a:hover {
  text-decoration: underline;
}

.main_m {
  display: flex;
  gap: 50px;
  font-size: 19px;
}

.main_m li a {
  color: white;
  font-family: "Bellota Text";
}

.send_message button {
  font-family: "Bellota Text";
}

.header_hr hr {
  width: 200px;
  height: 100px;
  color: white;
  position: relative;
}
.header_hr {
  position: relative;
}

/*  main  */

.main_header {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1900px;
  margin: 0px auto;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  color: white;
  font-size: 40px;
}

.main_header p {
  font-family: "Bellota Text";
  color: white;
  text-align: right;
  font-size: 20px;
}

.logo img{
    width: 120px;
    height: 120px;
    margin: 0px;
    padding: 0px;
}



.send_message button {
  border: solid rgba(255, 255, 255, 0.356) 1px;
  padding: 10px 20px;
}



.main_1 h2 {
  font-family: "Bellota Text";
  color: white;
  padding-bottom: 40px; 
}



.main_1 {
  text-align: center;
  margin: 0px auto;
}


.grid_1, .grid_2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3%;
  margin: 0px auto;
}

.okno_g_1 {
  width: auto;
  height: auto;
  max-width: 350px;
  border-radius: 10% 10% 0 0;
  background: rgb(37, 37, 37);
  border: solid rgba(255, 255, 255, 0.425) 1px;
}

.img_g_1 img{
  width: 100%;
  height: auto;
  max-height: 220px;
  border-radius: 10% 10% 0 0;
  padding-bottom: 20px;
}

.name_g_1, .name_g_2{
  font-family: "Bellota Text";
  color: white;
  font-size: 23px;
  text-align: center;
  padding: 0px 25px;
  padding-bottom: 10px;
}

.disc_g_1, .disc_g_2 {
  font-family: "Bellota Text";
  color: white;
  font-size: 17px;
  text-align: center;
  padding: 0px 15px 20px 15px;
}

.but_vis_g_1, .but_vis_g_2{
  font-family: "Bellota Text";
  color: white;
  font-size: 20px;
  border: solid rgba(255, 255, 255, 0.742) 0.7px;
  padding: 15px 20%;
}

.button_g_1, .button_g_2 {
  text-align: center;
  margin-bottom: 20px;
}






.okno_g_2 {
  width: auto;
  height: auto;
  max-width: 350px;
  border-radius: 0 0 10% 10%;
  background: rgb(37, 37, 37);
  border: solid rgba(255, 255, 255, 0.425) 1px;
}

.img_g_2 img{
  width: 100%;
  height: auto;
  max-height: 200px;
  border-radius: 0 0 15% 15%;
  padding-bottom: 20px;
}

.name_g_1 {
  font-family: "Bellota Text";
  color: white;
  font-size: 23px;
  text-align: center;
  padding: 0px 25px;
  padding-bottom: 10px;
}

